/* optional: add some border to your canvas */
canvas {
    border: 10px;
    border-color: royalblue;
    border-style: solid;

}

.btnGrp button{
background-color: dodgerblue;
font-weight: bolder;
font-size: large;
text-align: center;
display: block;
flex-direction: column-reverse;
margin-left: 25%;
margin-top: -5%;

}